{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Join</h1>
  {% if error %}
  <p style="color:red; font-weight:bold;">{{ error }}</p>
  {% endif %}
  <form method="POST" action="{{ url_for('join_page') }}">
    <input type="text" name="honeypot" style="display:none;" tabindex="-1" />
    <label>Name: <input name="name" required></label><br>
    <label>Date of birth (year): <input name="birthyear" placeholder="e.g. 1999"></label><br>
    <label>Country: <input name="country"></label><br>
    <label>City: <input name="city"></label><br>
    <label>Skills: <input name="skills" placeholder="HTML, CSS, JavaScript etc"></label><br>
    <label>Your bio: <textarea name="bio"></textarea></label><br>
    <button type="submit">Submit</button>
   </form>
</div>
{% endblock %}