{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Students</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p style="color: green; font-weight: bold;">{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}
 <div class = "table-wrap">
    <table>
      <thead>
        <tr>
        <th>Name</th><th>Birth Year</th><th>Country</th><th>City</th><th>Skills</th><th>Bio</th>
        </tr>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td>{{ s.get('name', '') }}</td>
          <td>{{ s.get('birthyear', '') }}</td>
          <td>{{ s.get('country', '') }}</td>
          <td>{{ s.get('city', '') }}</td>
          <td>{{ s.get('skills', []) | join(', ') }}</td>
          <td>{{ s.get('bio', '') }}</td>
        </tr>
        {% endfor %}
       </tbody>
    </table>
 </div>
</div>
{% endblock %}